.popup {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-border-color: lightblue;
    -fx-border-width: 3;
    -fx-font-size: 12;
}

.popup_warning {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-padding: 10;
    -fx-border-color: lightblue;
    -fx-border-width: 3;
    -fx-font-size: 12;
}